*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    border-color: #DDD;
    margin: 0;
    background-color: #222;
    color: #DDD;
}

.header{
    padding: 20px;
    border-bottom: 1px solid #EEE;
    background-color: #444;
    color: #EEE;
}

h1{
    margin-bottom: 25px;
    background-color: #444;
    color: #EEE;
}

.link{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.link:hover{
    background-color: #000;
    transition: 0.3s;
}

.description{
    max-width: 750px;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px 5px #0008;
    background-color: #181818;
}

.description *{
    background-color: #181818;
}

main{
    padding: 10px;
}

h2{
    border-bottom: 1px solid #DDD;
    padding: 5px;
    margin: 15px 0;
}

.form{
    width: 50%;
    max-width: 750px;
    padding: 10px;
    border: 1px solid #DDD;
    background-color: #181818;
    box-shadow: 0 0 10px 5px #0008;
}

.form *{
    background-color: #181818;
}

.campo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.campo label{
    flex: 0 1 50%;
}

.campo input{
    flex: 0 1 175px;
    align-self: center;
    padding: 2px;
    margin-right: auto;
}

input#name{
    flex-basis: 250px;
}

table{
    border-collapse: collapse;
    box-shadow: 0 0 10px 5px #0008;
}

td, th{
    text-align: center;
    padding: 10px;
    border: 1px solid #DDD;
}

th{
    background-color: #111;
}

td{
    background-color: #181818;
}

td *{
    background-color: #181818;
}

.clickable{
    padding: 5px;
    border: 1px solid #EEE;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
}

.clickable:hover{
    background-color: #333;
    cursor: pointer;
}

.options, .confirm-box{
    position: fixed;
    left: 50vw;
    transform: translate(-50%, 0);
    padding: 10px;
    border: 1px solid #EEE;
    border-radius: 5px;
    background-color: #444;
    box-shadow: 0 0 10px 5px #0008;
}

.options *, .confirm-box *{
    background-color: #444;
}

.options li{
    list-style-type: none;
}

.confirm-box{
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}